.env
env
__pycache__/
*.pyc
*.log
tests/
source_files/
.coverage
coverage_report.html
coverage_report.txt
results.html
results.json
unit_test_results.html
unit_test_results.json
.dot
.png
# Ignore sensitive config files
src/OAI_CONFIG_LIST.json
src/agenticapp/OAI_CONFIG_LIST.json
src/OAI_CONFIG_LIST.json
src/agenticapp/OAI_CONFIG_LIST.json
